<script>
    import { onMount } from 'svelte';
    import { goto } from '$app/navigation';
    import { user, blankUser } from '../stores/user';
    import { getAuth, onAuthStateChanged, signInWithRedirect, signInWithPopup, GoogleAuthProvider, getRedirectResult, signOut } from "firebase/auth";
    import { app } from '../services/firebase'

    let login;
    let login2;
    let redirectUrl = "/feed"

	onMount(async () => {
        const auth = getAuth(app);

        const provider = new GoogleAuthProvider();

        login = () => signInWithPopup(auth, provider)
                        .then((result) => {
                            const credential = GoogleAuthProvider.credentialFromResult(result);
                            const googleuser = result.user;
                            user.update(data => data.google = googleuser);
                            goto(redirectUrl);
                        }).catch((error) => {
                            const errorCode = error.code;
                            const errorMessage = error.message;
                            const email = error.email;
                            const credential = GoogleAuthProvider.credentialFromError(error);
                        });

        login2 = async () => {
            signInWithRedirect(auth, provider);
        }

        onAuthStateChanged(auth, (firebaseUser) => {
            console.log(firebaseUser)
            if (firebaseUser) {
              console.log(redirectUrl)
              goto(redirectUrl);

            }
          })
	});

</script>

<div
class="max-w-screen-xl m-0 sm:m-20 bg-white shadow sm:rounded-lg flex justify-center flex-1"
>
<div class="lg:w-1/2 xl:w-5/12 p-6 sm:p-12">
  <div>
    <img
      src="https://storage.googleapis.com/devitary-image-host.appspot.com/15846435184459982716-LogoMakr_7POjrN.png"
      class="w-32 mx-auto"
    />
  </div>
  <div class="mt-12 flex flex-col items-center">
    <h1 class="text-2xl xl:text-3xl font-extrabold">
      Sign up for templatana
    </h1>
    <div class="w-full flex-1 mt-8">
      <div class="flex flex-col items-center">
        <button on:click={login}
          class="w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-indigo-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline"
        >
          <div class="bg-white p-2 rounded-full">
            <svg class="w-4" viewBox="0 0 533.5 544.3">
              <path
                d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
                fill="#4285f4"
              />
              <path
                d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
                fill="#34a853"
              />
              <path
                d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
                fill="#fbbc04"
              />
              <path
                d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
                fill="#ea4335"
              />
            </svg>
          </div>
          <span class="ml-4">
            Sign Up with Google (Popup)
          </span>
        </button>

        <button on:click={login2}
          class="w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-indigo-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm focus:shadow-outline mt-5"
        >
          <div class="bg-white p-1 rounded-full">
            <svg class="w-4" viewBox="0 0 533.5 544.3">
                <path
                  d="M533.5 278.4c0-18.5-1.5-37.1-4.7-55.3H272.1v104.8h147c-6.1 33.8-25.7 63.7-54.4 82.7v68h87.7c51.5-47.4 81.1-117.4 81.1-200.2z"
                  fill="#4285f4"
                />
                <path
                  d="M272.1 544.3c73.4 0 135.3-24.1 180.4-65.7l-87.7-68c-24.4 16.6-55.9 26-92.6 26-71 0-131.2-47.9-152.8-112.3H28.9v70.1c46.2 91.9 140.3 149.9 243.2 149.9z"
                  fill="#34a853"
                />
                <path
                  d="M119.3 324.3c-11.4-33.8-11.4-70.4 0-104.2V150H28.9c-38.6 76.9-38.6 167.5 0 244.4l90.4-70.1z"
                  fill="#fbbc04"
                />
                <path
                  d="M272.1 107.7c38.8-.6 76.3 14 104.4 40.8l77.7-77.7C405 24.6 339.7-.8 272.1 0 169.2 0 75.1 58 28.9 150l90.4 70.1c21.5-64.5 81.8-112.4 152.8-112.4z"
                  fill="#ea4335"
                />
              </svg>
          </div>
          <span class="ml-4">
            Sign Up with Google (Redirect)
          </span>
        </button>
      </div>

      <div class="mx-auto max-w-xs">

        <p class="mt-6 text-xs text-gray-600 text-center">
          I agree to abide by templatana's
          <a href="#" class="border-b border-gray-500 border-dotted">
            Terms of Service
          </a>
          and its
          <a href="#" class="border-b border-gray-500 border-dotted">
            Privacy Policy
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
  <div
    class="m-12 xl:m-16 w-full bg-contain bg-center bg-no-repeat"
    style="background-image: url('https://storage.googleapis.com/devitary-image-host.appspot.com/15848031292911696601-undraw_designer_life_w96d.svg');"
  ></div>
</div>
</div>