<script>
    import Topbar from '$lib/topbar/Topbar.svelte';
    import Nav from '$lib/nav/Nav.svelte';
    import { list, getList, cancelReq, acceptFrdReq, cancelFrdReq } from '../../stores/list';
    import { onMount, afterUpdate } from 'svelte';
    import { user, checkUser } from '../../stores/user';
    import { goto } from '$app/navigation';

    let matchSub = [];
    let requestSub = [];
    let friendSub = [];

    let acceptFriendReqest = () => {}
    let cancelFriendReqest = () => {}
    let cancelReqest = () => {}
    let goToChat = () => {}

    onMount(async () => {
        await checkUser()
        console.log($user)
    })

    afterUpdate(() => {
        getList($user.googleUid);

        list.subscribe(list => {

        matchSub = [];
        requestSub = [];
        friendSub = [];
        let count = 0;

        try {
            for (let i in list.match) {
                let obj = list.match[i];
                obj.id = i;
                matchSub[count] = list.match[i];
                matchSub[count].id = obj.id;
                count++
            }
        }
        catch (e) {
            console.log(e)
        }

        count=0
        try {
            for (let i in list.request) {
                let obj = list.request[i];
                obj.id = i;
                requestSub[count] = list.request[i];
                requestSub[count].id = obj.id;
                count++
            }
        }
        catch (e) {
            console.log(e)
        }

        count=0
        try {
            for(let i in list.friendReq) {
                let obj = list.friendReq[i];
                obj.id = i;
                friendSub[count] = list.friendReq[i];
                friendSub[count].id = obj.id;
                count++
            }
        }
        catch (e) {
            console.log(e)
        }

        })

        acceptFriendReqest = (id, topic) => {
            acceptFrdReq($user.googleUid, id, topic)
            console.log(friendReqSub)
        }

        cancelFriendReqest = (id) => {
            cancelFrdReq($user.googleUid, id)
            console.log(friendReqSub)
        }

        cancelReqest = async (id) => {
            await cancelReq($user.googleUid, id)
            console.log(requestSub)
        }

        goToChat = (id, initByMe) => {
            console.log("hi" + initByMe)
            user.update((obj) => {
                obj.userInChat.id = id;
                obj.userInChat.reverse = false;
                if (!initByMe) {
                    obj.userInChat.reverse = true;
                }
                return obj;
            })
            console.log($user)
            goto("/chat")
        }
	});



</script>
<div>
    <Topbar />
    <Nav />
    <div class="relative mb-16 overflow-x-auto"></div>
    <h3 class="pt-2 pb-2 flex flex-col items-center text-xl text-gray-800 bg-gray-100">Matches</h3>
    <div class="w-full bg-white rounded-lg shadow-lg">
        <ul class="divide-y divide-gray-400">
            {#if matchSub != undefined}
            {#each matchSub as match}
            {#if match != undefined}
            <li class="m-2 flex justify-between p-3" on:click="{goToChat(match.id, match.initByMe)}">
                {match.content}
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </li>
            {/if}
            {/each}
            {/if}
        </ul>
    </div>

    <h3 class="pt-2 pb-2 flex flex-col items-center text-xl text-gray-800 bg-gray-100">Your Request ({requestSub.length}/3)</h3>
    <div class="w-full bg-white rounded-lg shadow-lg">
        <ul class="divide-y divide-gray-400">
            {#each requestSub as request}
            {#if request != undefined}
            <li class="m-2 flex items-center justify-between p-3">
                {request.content}
                <button class="px-2 py-1 text-sm text-gray-200 bg-red-600 rounded-full" on:click="{cancelReqest(request.id)}">Cancel</button>
            </li>
            {/if}
            {/each}
        </ul>
    </div>

    <h3 class="pt-2 pb-2 flex flex-col items-center text-xl text-gray-800 bg-gray-100">Friend Request</h3>
    <div class="w-full bg-white rounded-lg shadow-lg">
        <ul class="divide-y divide-gray-400">
            {#each friendSub as friendRequest}
            {#if friendRequest != undefined}
            <li class="m-2 flex items-center justify-between p-3">
                {friendRequest.content}
                <div class="inline-flex" role="group">
                <button class="px-2 py-1 mx-1 text-sm text-gray-200 bg-blue-600 rounded-full" on:click="{acceptFriendReqest(friendRequest.id, friendRequest.content)}">Accept</button>
                <button class="px-2 py-1 mx-1 text-sm text-gray-200 bg-red-600 rounded-full" on:click="{cancelFriendReqest(friendRequest.id)}">Cancel</button>
                </div>
            </li>
            {/if}
            {/each}
        </ul>
    </div>

</div>
