<script>
    import Topbar from '$lib/topbar/Topbar.svelte';
    import Nav from '$lib/nav/Nav.svelte';
</script>

<style>
    .max-h-64 {
        max-height: 16rem;
    }
    /*Quick overrides of the form input as using the CDN version*/
    .form-input,
    .form-textarea,
    .form-select,
    .form-multiselect {
        background-color: #edf2f7;
    }
</style>
<link href="https://unpkg.com/@tailwindcss/custom-forms/dist/custom-forms.min.css" rel="stylesheet">
<div id='section4'>
    <Topbar />
    <Nav />
    <form class="pl-5 pr-5">

        <div class="md:flex mb-6 mt-20 rounded shadow bg-white p-5">
            <div class="md:w-1/3">
                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-checkbox">
                    Checkboxes
                </label>
            </div>
            <div class="md:w-2/3">
                <div>
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-indigo-600" checked>
                        <span class="ml-2">Option 1</span>
                    </label>
                </div>
                <div>
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-green-500" checked>
                        <span class="ml-2">Option 2</span>
                    </label>
                </div>
                <div>
                    <label class="inline-flex items-center">
                        <input type="checkbox" class="form-checkbox text-pink-600" checked>
                        <span class="ml-2">Option 3</span>
                    </label>
                </div>
                <p class="py-2 text-sm text-gray-600">add notes about populating the field</p>
            </div>
        </div>

        <div class="md:flex md:items-center">
            <div class="md:w-1/3"></div>
            <div class="md:w-2/3">
                <button class="shadow bg-yellow-500 hover:bg-yellow-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
                    Save
                </button>
            </div>
        </div>
    </form>

</div>