<script>
	import { onMount } from 'svelte';
    import { user, checkUser } from '../../stores/user';

    onMount(async () => {
    await checkUser()

  })

</script>

<div class="flex-1 flex flex-col">
    <nav class="fixed inset-x-0 px-4 flex justify-between bg-white h-16 border-b-2">
        <!-- top bar -->

        <ul class="flex items-center lg:hidden">
            <!-- top bar left -->
            <li class="h-6 w-6">
                <img
                    class="h-full w-full mx-auto"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Svelte_Logo.svg/512px-Svelte_Logo.svg.png"
                    alt="svelte logo" />
            </li>
        </ul>

        <ul class="flex items-center">
            <!-- top bar center -->
            <li>
                <h1 class="pl-10 lg:pl-0 text-gray-700">Svelte</h1>
            </li>
        </ul>

        <ul class="flex items-center">
            <!-- to bar right  -->

            <li class="pr-4">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-bell">
                    <path
                        d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                </svg>

            </li>

            <li class="h-7 w-8">
                {#if $user.noti}
                    <p> { $user.noti } </p>
                {:else}
                    <p> 0 </p>
                {/if}
            </li>

        </ul>

    </nav>
</div>