<script>
  import Topbar from '$lib/topbar/Topbar.svelte';
  import Nav from '$lib/nav/Nav.svelte';
  import { feeds, getFeeds, updateFeed } from '../../stores/feed';
  import { user, checkUser } from '../../stores/user';
  import { onMount, afterUpdate } from 'svelte';
  import { getList, addReq } from '../../stores/list';
  import PullToRefresh from 'pulltorefreshjs';


  onMount(async () => {
    await checkUser()

  })

  afterUpdate(async () => {
    getList($user.googleUid);
    console.log($user)
    const ptr = PullToRefresh.init({
      mainElement: '#ptr',
      onRefresh() {
        getList($user.googleUid);
      }
    });
  });

  let tempTopic = "hi";

  function addToReq(me, uid, topic, myTopic, cur, max) {
    cur < max ? addReq(me, uid, topic, myTopic) : alert("Reach maximum request")
  }

  getFeeds();
  let feedSub;
  feeds.subscribe(feeds => {
    feedSub = []
    for(let i in feeds) {
      let obj = feeds[i];
      obj.id = i;
      feedSub.push(feeds[i]);
    }
    console.log(feedSub);
  });
</script>
<div>
<Topbar />
<Nav />
<div class="relative mt-5 mb-16 overflow-x-auto"></div>

<div id="ptr" class="m-4 flex">
  <input bind:value={tempTopic} class="w-full rounded-l-lg p-4 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white" placeholder="Your Topic"/>
  <button on:click="{updateFeed($user.googleUid, tempTopic)}" class="px-8 rounded-r-lg bg-yellow-400 text-gray-800 font-bold p-4 uppercase border-yellow-500 border-t border-b border-r">Update</button>
</div>
{#each feedSub as feed}
{#if feed != undefined && feed.id != $user.googleUid }
<div on:click="{addToReq($user.googleUid, feed.id, feed.content, tempTopic, $user.curReq, $user.maxReq)}" class="flex items-center m-4 p-4 bg-white border-5 border-gray-200 rounded-lg shadow-sm dark:bg-gray-800">
  {#if feed.gender == "male"}
  <div class="p-3 mr-4 bg-blue-500 text-white rounded-full">
  </div>
  {:else}
  <div class="p-3 mr-4 bg-red-500 text-white rounded-full">
  </div>
  {/if}
  <div>
    <p class="text-sm font-normal text-gray-800">{feed.content}</p>
  </div>
</div>
{/if}
{/each}
<div class="relative mt-5 mb-10 overflow-x-auto"></div>
</div>
