<script>
	import { goto } from '$app/navigation';
	import { onMount } from 'svelte';

	let navigateTo = (path) => {};

	onMount(async () => {
		navigateTo = (path) => {
			goto(path);
		}
	})

</script>
<nav
class="fixed bottom-0 w-full border bg-white flex
overflow-x-auto">
<!-- Bottom Icon Navigation Menu -->

<button
	on:click={navigateTo("/feed")}
	class="p-2 flex flex-col flex-grow items-center justify-center
	overflow-hidden whitespace-no-wrap text-sm transition-colors
	duration-100 ease-in-out hover:bg-gray-200 focus:text-orange-500">

	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="1"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="fill-current">
		<path
			d="M8 20H3V10H0L10 0l10 10h-3v10h-5v-6H8v6z"></path>
	</svg>

	<span class="hidden text-sm capitalize">Home</span>
</button>

<button
	on:click={navigateTo("/list")}
	class="flex flex-col flex-grow items-center justify-center
	overflow-hidden whitespace-no-wrap text-sm transition-colors
	duration-100 ease-in-out hover:bg-gray-200 focus:text-orange-500">

	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="1"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="fill-current">
		<path
			d="M0 2C0 .9.9 0 2 0h16a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm14 12h4V2H2v12h4c0 1.1.9 2 2 2h4a2 2 0 0 0 2-2z"></path>
	</svg>

	<span class="hidden text-sm capitalize">Inbox</span>
</button>

<button
	on:click={navigateTo("/setting")}
	href="."
	class="flex flex-col flex-grow items-center justify-center
	overflow-hidden whitespace-no-wrap text-sm transition-colors
	duration-100 ease-in-out hover:bg-gray-200 focus:text-orange-500">

	<svg
		xmlns="http://www.w3.org/2000/svg"
		width="24"
		height="24"
		viewBox="0 0 24 24"
		fill="none"
		stroke="currentColor"
		stroke-width="1"
		stroke-linecap="round"
		stroke-linejoin="round"
		class="fill-current">
		<path
			d="M3.94 6.5L2.22 3.64l1.42-1.42L6.5 3.94c.52-.3 1.1-.54 1.7-.7L9 0h2l.8 3.24c.6.16 1.18.4 1.7.7l2.86-1.72 1.42 1.42-1.72 2.86c.3.52.54 1.1.7 1.7L20 9v2l-3.24.8c-.16.6-.4 1.18-.7 1.7l1.72 2.86-1.42 1.42-2.86-1.72c-.52.3-1.1.54-1.7.7L11 20H9l-.8-3.24c-.6-.16-1.18-.4-1.7-.7l-2.86 1.72-1.42-1.42 1.72-2.86c-.3-.52-.54-1.1-.7-1.7L0 11V9l3.24-.8c.16-.6.4-1.18.7-1.7zM10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
	</svg>

	<span class="hidden text-sm capitalize">Settings</span>
</button>

</nav>